<?xml version="1.0"?>
<launch>
  <arg name="launch_pacmod" default="true" />
  <arg name="use_socketcan" default="false" />

  <!-- Vehicle types are:
       0: Polaris GEM/eLXD
       1: Polaris Ranger
       2: Lexus RX 450H
       3: International Prostar+ 122 -->
  <arg name="vehicle_type" default="0"/>

  <arg name="pacmod_can_hardware_id" default="12345" />
  <arg name="pacmod_can_circuit_id" default="0" />
  <arg name="pacmod_socketcan_device" default="can0" />

  <!-- PACMod Vehicle Types are:
       POLARIS_GEM (also covers eLXD)
       POLARIS_RANGER
       LEXUS_RX_450H
       INTERNATIONAL_PROSTAR_122 -->
  <arg name="pacmod_vehicle_type" default="POLARIS_GEM" />
    
  <arg name="steering_stick" default="LEFT"/>

  <!-- Supported types are:
       LOGITECH_F310 (the standard gamepad provided with all vehicles)
       HRI_SAFE_REMOTE
       LOGITECH_G29 (steering wheel and pedals)
       NINTENDO_SWITCH_WIRED_PLUS -->
  <arg name="controller_type" default="LOGITECH_F310"/>
        
  <!-- 4.71239 is fast but jerky. Speed in rad/sec.-->
  <arg name="steering_max_speed" default="3.3"/>

  <!-- Scales raw joystick input -->
  <arg name="accel_scale_val" default="1.0"/>

  <!-- Scales raw joystick input -->
  <arg name="brake_scale_val" default="1.0"/>

  <!-- For GEM, 11.176m/s -->
  <arg name="max_veh_speed" default="11.176" />

  <include file="$(find pacmod)/launch/pacmod.launch" if="$(arg launch_pacmod)" ns="pacmod">
    <arg name="pacmod_vehicle_type" value="$(arg pacmod_vehicle_type)" />
    <arg name="use_kvaser" value="true" unless="$(arg use_socketcan)" />
    <arg name="kvaser_hardware_id" value="$(arg pacmod_can_hardware_id)" unless="$(arg use_socketcan)" />
    <arg name="kvaser_circuit_id" value="$(arg pacmod_can_circuit_id)" unless="$(arg use_socketcan)" />
    <arg name="use_socketcan" value="true" if="$(arg use_socketcan)" />
    <arg name="socketcan_device" value="$(arg pacmod_socketcan_device)" if="$(arg use_socketcan)" />
  </include>

  <group ns="game_control">
    <node pkg="joy" type="joy_node" name="joy">
      <param name="coalesce_interval" type="double" value="0.02"/>
      <param name="default_trig_val" value="true"/>
      <param name="dev" value="/dev/input/js0"/>
    </node>

    <node pkg="pacmod_game_control" type="pacmod_game_control_node" name="pacmod_game_control">
      <param name="vehicle_type" value="$(arg vehicle_type)"/>
      <param name="steering_stick" value="$(arg steering_stick)"/>
      <param name="controller_type" value="$(arg controller_type)"/>            
      <param name="steering_max_speed" value="$(arg steering_max_speed)"/>
      <param name="accel_scale_val" value="$(arg accel_scale_val)"/>
      <param name="brake_scale_val" value="$(arg brake_scale_val)"/>
      <param name="max_veh_speed" value="$(arg max_veh_speed)" />
    </node>
  </group>
</launch>
